<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1059978267588-2439abnn8nv3eu2fnbgucgojm2h24870.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1059978267588-2439abnn8nv3eu2fnbgucgojm2h24870</string>
	<key>API_KEY</key>
	<string>AIzaSyBGliPttiPAx-SREdx8MYAThaOWq3Y2wZs</string>
	<key>GCM_SENDER_ID</key>
	<string>1059978267588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.arabicSpeakerKids</string>
	<key>PROJECT_ID</key>
	<string>arabic-speaker-children</string>
	<key>STORAGE_BUCKET</key>
	<string>arabic-speaker-children.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059978267588:ios:99f9dc926375b3f275b291</string>
</dict>
</plist>